<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Список товаров</title>
</head>
<body>
<form th:method="post" th:action="@{/product/search}">
  <fieldset>
    <legend>Поиск</legend>
    <label for="search">Название товара</label>
    <input type="text" id="search" name="search" th:value="*{value_search}">
    <br>
    <p>Цена</p>
    <label for="from1"></label>
    <input type="text" name="from1" id="from1" th:value="*{value_price_from1}">
    <label for="to1"></label>
    <input type="text" name="to1" id="to1" th:value="*{value_price_to1}">
    <br>
    <hr>
    <p>Отсортировать</p>
    <div>
      <input type="radio" id="price_up" name="price" value="sorted_by_price_up">
      <label for="price_up">По возрастанию</label>
      <input type="radio" id="price_down" name="price" value="sorted_by_price_down">
      <label for="price_down">По убыванию</label>
      <p>Катигория</p>
                  <input type="radio" id="electronic" name="contract" value="electronic">
                  <label for="electronic">Электроника</label>
                  <input type="radio" id="food" name="contract" value="food">
                  <label for="electronic">Еда</label>
                  <input type="radio" id="clothes" name="contract" value="clothes">
                  <label for="electronic">Одежда</label>
<!--      <select name="contract">-->
<!--        <option value="1">Электроника</option>-->
<!--        <option value="2">Еда</option>-->
<!--        <option value="3">Одежда</option>-->
<!--      </select>-->
      <br>
      <br>
      <input type="submit" value="Найти">
    </div>
  </fieldset>
</form>
<br>
<h2>Результат поиска</h2>
<br>
<div th:each="product : ${search_product}">
  <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="250px">
  <br>
  <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
  <p th:text="'Цена: ' + ${product.getPrice()}"></p>
</div>
  <hr>
<h3>Доступные товары: </h3>
<div th:each="product : ${products}">
  <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="250px">
  <br>
  <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
  <p th:text="'Цена: ' + ${product.getPrice()}"></p>
  <hr>
</div>
</body>
</html>